* {
  background-color: rgb(43, 43, 43);
}
h1 {
  color: aliceblue;
}
.coin {
  width: min(84px, 10vw, 10vh);
  height: min(84px, 10vw, 10vh);
  margin: min(4px, 0.3vw, 0.3vh);
  border: 1px solid aliceblue;
  border-radius: 50%;
}
.coinPlayer {
  background-color: yellow;
}
.coinComp {
  background-color: red;
}
.column:hover {
  cursor: pointer;
}
#gameBoard {
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
}
.btnSelected {
  background: blue;
}
