* {
  background-color: rgb(34, 34, 34);
}
:root {
  --tokenSize: min(84px, 13vw, 11vh);
}
h1 {
  color: aliceblue;
  background-color: rgb(139, 139, 139);
}

#scoreboard {
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: black;
  color: rgb(139, 139, 139);
}

#gameBoard {
  justify-content: center;
  position: relative;
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding-top: var(--tokenSize);
  background-color: transparent;
}
#gameboardImage {
  position: absolute;
  top: calc(var(--tokenSize) * 0.87);
  background-color: transparent;
  width: calc(var(--tokenSize) * 7.84);
}
.column {
  position: relative;
  margin: calc(var(--tokenSize) * 0.0357);
  width: var(--tokenSize);
  height: calc(var(--tokenSize) * 6);
  background-color: transparent;
}

.column:hover {
  cursor: pointer;
}

.slot {
  position: absolute;
  width: calc(var(--tokenSize) * 1.01);
  height: calc(var(--tokenSize) * 1.01);
  border-radius: 50%;
  z-index: 5;
  background-color: transparent;
}

.token {
  margin-top: calc(var(--tokenSize) * 1);
  margin-bottom: calc(var(--tokenSize) * 1);
  background-color: transparent;
  position: absolute;
  top: calc(var(--tokenSize) * -1);
  border-radius: 50%;
}

.tokenPlayer1 {
  width: var(--tokenSize);
  height: var(--tokenSize);
  margin: 0;
  background-color: yellow;
  animation: tokenDrop calc(calc((var(--custom) / (var(--custom) + 6) * 1.5s))) ease-in 0.1s 1 normal forwards;
}

.tokenPlayer2 {
  width: var(--tokenSize);
  height: var(--tokenSize);
  margin: 0;
  background-color: red;
  animation: tokenDrop calc(calc((var(--custom) / (var(--custom) + 6) * 1.5s))) ease-in 0.1s 1 normal forwards;
}

.tokenWin {
  border: 12px solid black;
}

@keyframes tokenDrop {
  to {
    transform: translateY(calc(var(--custom) * var(--tokenSize)));
  }
}
.button {
  width: min(40%, 175px);
}
