* {
  background-color: rgb(34, 34, 34);
}
:root {
  --tokenSize: min(84px, 13vw, 11vh);
}
h1 {
  color: aliceblue;
}
#gameBoard {
  border-radius: 10px;
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding-top: var(--tokenSize);
}
.column {
  position: relative;
  width: var(--tokenSize);
  height: calc(var(--tokenSize) * 6);
}
.column:hover {
  cursor: pointer;
}

.slot {
  position: absolute;
  right: 0px;
  border: 2px solid blue;
  width: var(--tokenSize);
  height: var(--tokenSize);
  border-radius: 50%;
  z-index: 10;
  background-color: transparent;
}

.token {
  margin-top: calc(var(--tokenSize) * 1);
  margin-bottom: calc(var(--tokenSize) * 1);
  background-color: transparent;
  position: absolute;
  top: calc(var(--tokenSize) * -1);
  border-radius: 50%;
}

.tokenPlayer1 {
  width: var(--tokenSize);
  height: var(--tokenSize);
  margin: 0;
  background-color: yellow;
  animation: tokenDrop calc(calc((var(--custom) / (var(--custom) + 6) * 1.5s))) ease-in 0.1s 1 normal forwards;
}

.tokenPlayer2 {
  width: var(--tokenSize);
  height: var(--tokenSize);
  margin: 0;
  background-color: red;
  animation: tokenDrop calc(calc((var(--custom) / (var(--custom) + 6) * 1.5s))) ease-in 0.1s 1 normal forwards;
}

.tokenWin {
  border: 12px solid black;
}

@keyframes tokenDrop {
  to {
    transform: translateY(calc(var(--custom) * var(--tokenSize)));
  }
}

.button {
  width: min(30%, 125px);
}
